<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/imgs/logo.svg}" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Crimson+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    <title>TEAcup - Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/tea-cad.css}">

    <style>

    </style>
</head>
<body>
    <a th:href="@{/responsible/portal}" class="btn-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        <span>Voltar</span>
    </a>

    <div class="container decorative-corners">
        <h1>Cadastro de Dependente</h1>
        
        <div class="stars">✶ ✶ ✶</div>
        
        <div class="vintage-pattern"></div>
        
        <form id="registrationForm"
              th:action="@{${dependent.id} != null ? '/dependent/update' : '/dependent/new-dependent'}"
              th:object="${dependent}"
              method="post">

            <input type="number" th:field="*{id}" hidden="hidden">

            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="fullName" th:field="*{fullName}" required>
            </div>
            
            <div class="col-2">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00"
                           th:field="*{cpf}"
                           th:readonly="${dependent.id != null}" required>
                </div>

                <div class="form-group">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento"
                           th:field="*{birthDate}" required>
                </div>

                 <div class="form-group">
                            <label for="genero">Gênero</label>
                            <select id="genero" class="form-control" name="gender"
                                    th:field="*{gender}" required>

                                <option th:each="gender : ${genders}"
                                        th:value="${gender}"
                                        th:text="${gender.gender}"></option>

                            </select>
                        </div>

            </div>
            
            <div class="col-2">
                
                <div class="form-group">
                    <label for="telefone">Telefone de Contato</label>
                    <input type="tel" id="telefone" name="contactNumber" placeholder="(00) 00000-0000"
                           th:field="*{contactNumber}">
                </div>
            </div>

                <div class="col-3">
                    <div class="form-group">
                            <label for="parentesco">Natureza do Vínculo</label>
                            <select id="parentesco" class="form-control" name="bondNature"
                                    th:field="*{bondNature}" required>

                                <option th:each="bond : ${bonds}"
                                        th:value="${bond}"
                                        th:text="${bond.bond}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="nivelSuporte">Nível de Suporte</label>
                            <select id="nivelSuporte" class="form-control" name="supportLevels"
                                    th:field="*{supportLevels}" required>

                                <option th:each="suportLevel : ${suportLevels}"
                                        th:value="${suportLevel}"
                                        th:text="${suportLevel.suportLevels}"></option>
                            </select>
                        </div>
                </div>  
                        
                        <div class="form-group">
                            <label for="escola">Instituição de Ensino (se houver)</label>
                            <input type="text" id="escola" class="form-control" name="educationInstitute"
                                    th:field="*{educationInstitute}">
                        </div>
                 
                    
                    <div class="form-group">
                        <label for="info-saude">Informações de Saúde (alergias, medicações, etc.)</label>
                        <textarea id="info-saude" class="form-control" name="healthInfo" rows="3"
                                  th:field="*{healthInfo}"></textarea>
                    </div>
                
                <div class="col-4">    
                    <div class="form-group">
                        <label for="contato-emergencia">Contato de Emergência (além do tutor)</label>
                        <input type="text" id="contato-emergencia" name="emergencyContact" class="form-control"
                               th:field="*{emergencyContact}" placeholder="(00) 00000-0000">
                    </div> 

                    <div class="form-group">
                        <label for="laudo-doc">Anexe o laudo de diagnóstico</label>
                        <input type="file" id="laudo-doc" class="form-control" name="diagnostic">
                    </div>
                </div>                      
            
            <div class="vintage-pattern"></div>

            <button type="submit" class="btn"
                    th:text="${dependent.id} != null ? 'Atualizar' : 'Cadastrar'"></button>
        </form>
        
        <div class="stars">✶ ✶ ✶</div>
    </div>

    <script th:src="@{/js/tea-cad.js}"></script>
</body>
</html>