<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/imgs/logo.svg}" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Crimson+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    <title>TEAcup - Login</title>
    <link rel="stylesheet" th:href="@{/css/tutor-cad.css}">
</head>
<body>      
    <div class="container decorative-corners">
        <h1>Login</h1>
        
        <div class="stars">✶ ✶ ✶</div>
        
        <form id="loginform" th:action="@{/responsible/login}" method="POST">

            <div class="vintage-pattern"></div>
            
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="username" required>
                </div>
                
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="password" required>
                </div>
                
                <div class="vintage-pattern"></div>
                
                <button type="submit" class="btn">Entrar</button>
        </form>
        
        <div class="stars">✶ ✶ ✶</div>


        <script th:src="@{/js/tutor-login.js}"></script>

    </div>    
</body>
</html>